*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

}
body{
  
background-image: url("construction.jpg");
background-position: cover;
background-repeat: no-repeat;
background: hsla(0 80 100,0.3)
  }
  
  .check{
    display: none;
  }
  .navbar-brand{
    font-family: "ubunto";
    font-size: 3rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  .navigation-bar ul{
   
    padding-top: 1.5rem;
    padding-right: 0;
    padding-left: 3rem;
  }
  .navigation-bar{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
    background-color: Off-white hsl(36, 100%, 99%);
    border: none;
    }
  .navigation-bar ul li{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin:0;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
  
  }
  .navigation-bar ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  .navigation-bar ul li a:hover{
    color: red;
  }
  .checks{
    display:none;
  }
 .navigation-bar .content ul{
    display: none;
    position: absolute;
    padding-left: 0;
    width: 200px;
 }
 .navigation-bar .content li{
   padding-left: 0;
   color:white;
   font-size: 15px;
    
 }
 .navigation-bar .content li:hover{
    color:red;
     
  }

  .navigation-bar ul li:hover .content >ul{
    display: block;
  }

  /* top content for construction page */
  #c-body{
    padding: 5% 10%;
  }
#c-body .c-body-content>h1{
  color: whitesmoke;
  background: hsla(0, 0%, 0, 0.1);
  
text-align: center;
font-size: 10rem;   
}
#c-body .c-body-content>p{
  color: rebeccapurple;
  background: hsla(0, 0%, 0, 0.1);
text-align: center;
font-size: 15px;   
padding-top:5rem;
font-weight: bold;
}
/* mid-body of the construction page */
#c-midbody{
  background-image: url('midbody.jpg');
  background-position: cover;
  background-repeat: none;
  padding: 5% 10%;
  
}

  #c-midbody p{
    color: rebeccapurple;
    text-align: center;
   font-size: 15px;
   padding-top: 5rem; 
   font-weight: bold;
  }
  #c-midbody h3{
    color: rebeccapurple;
    text-align: center;
   padding-top: 10rem; 
  }
  
 


  /* different techs */

  .carousel-control-prev-icon{
    background-color:green;
    margin-left:-40px;
  }
  .carousel-control-next-icon{
    background-color:green;
    margin-right:-40px;
  }
  #testimonials{
    padding: 10% 20%;
  }
  
  #about-us{
    padding: 7% 15%;
    background-color: beige;
    width: 100%;
    position: relative;
    text-align: center;
  }
#about-us h5{
    
    color: black;
    font-size: 30px;
}
#about-us h4{
   
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    
}
#about-us p{
    
    color: black;
    font-size: 15px;
    text-decoration: none;
}
 
#contact{
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

/* our e-list services*/
#our-elist{
    background-image: url(D:/webdevelopement/html-company/images/bulb.jpg);
background-repeat: no-repeat;
background-position: cover;
padding: 5% 7%;
background: hsla(0, 0%, 0, 0.1);
}
#our-elist h5{
color: white;

text-align: center;
text-transform: capitalize;

}
#our-elist h4,h3{
    color: white;
    text-transform: capitalize;
   
    }
    #our-elist p{
        content: "";
    border-bottom: 2px solid white;
    color:white;
    font-size: 15px;
    padding-bottom: 5%;
    width: 500px;
      
        }
       
            #our-elist h1{
               position: absolute;
                color: white;
                text-align: center;
                width: 25%;
                top:200%;
                right: 10%;
                text-transform: uppercase;
                color:red;
                  }

/* mobile version */
  @media (max-width:560px)
  {
    body{
  
    background-image: url("medium-mobile.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    width: 100%;
      }
    .navigation-bar ul li a{
      color: whitesmoke;
    background-repeat: no-repeat;
    background-size: auto;
      text-decoration: none;}
.checks{
  position:absolute;
  display: none;
  width: 50px;
  height: 50px;
  color:black;
  right : 0;
  padding-top: 20px;
  padding-right: 10px;
  z-index: 1;
  
}
.check{
  position:absolute;
    display: block;
    width: 50px;
    height: 50px;
    color:black;
    right : 0;
    padding-top: 20px;
    padding-right: 10px;
    z-index: 9999;
   
}

.navigation-bar ul{
    background-color: steelblue;
background-color:hsla(36, 100%, 99%,0.1);
-webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
position: fixed;
content: '';
inset: 0 0 0 50%;
padding: 5rem 5rem 0 0 ;
/*  */
  z-index: 1;
transform: translateX(100%);
transition: transform 350ms ease-in-out;


}
.navigation-bar .content>ul{
    
    position: relative;
    width: 100px;
    padding-top: 0;
    left: 0;
}



/* .navigation-bar ul{

  display: none;
} */
#btn-toggle:checked ~.navigation-bar ul{
  transform: translateX(0);
  
}
#btn-toggle:checked ~.check{
  display: none;
  z-index:-9999;
}
#btn-toggle:checked ~.checks{
  display: block;
  z-index: 9999;
}

/* top content */
#body .body-content>h1{
    color: whitesmoke;
    background: hsla(0, 0%, 0, 0.1);
    backdrop-filter: blur(1rem);
text-align: center;
font-size: 2rem;   
  }

  /* top content for construction page */
#c-body .c-body-content>h1{
  color: whitesmoke;
  background: hsla(0, 0%, 0, 0.1);
  
text-align: center;
font-size: 2rem;   
}

  /* service content */
  #our-elist p{
    content: "";
border-bottom: 2px solid white;
color:white;
font-size: 15px;
padding-bottom: 5%;
width: 100%;
  
    }
.testimonial-image{
    width:100%;
}  
.carousel-control-prev-icon{
    background-color:green;
    margin-left:-80px;
  }
  .carousel-control-next-icon{
    background-color:green;
    margin-right:-80px;
  }
 
  
}

  
